.page-header {
  background-color: orange;
  color: #fff;
  text-align: center;
}

#instructions {
  background-color: beige;
  height: 200%;
  font-size: 100%;
  color: #000;
}

#instructions p {
  text-align: center;
}

#instructions p:first-child {
  padding-top: 10px;
}

#goalScore {
  background-color: green;
  color: #000;
  height: 100px;
  margin-top: 10px;
  width: 30%;
  display: inline-block;
  color: white;
  font-size: 20px;
}

#winsLosses {
  height: 170px;
  background-color: green;
  color: white;
  font-size: 20px;
  width: 30%;
}

.imgDiv {
  display: inline-block;
  margin: 10px;
  position: relative;
}

#currentScore {
  background-color: red;
  color: #fff;
  font-size: 20px;
  height: 100px;
  margin-top: 10px;
  width: 30%;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 10px;
}

#table {
  position: absolute;
  right: 10px;
  bottom: -20px;
}