.page-header {
  background-color: orange;
  color: #fff;
  text-align: center;
}

#instructions {
  background-color: beige;
  height: 300px;
  font-size: 100%;
  color: #000;
}

#instructions p {
  text-align: center;
}

#goalScore {
  background-color: green;
  color: #000;
  height: 100px;
  margin-top: 10px;
  width: 30%;
}

#winsLosses {
  height: 170px;
  background-color: green;
  color: white;
  font-size: 20px;
  width: 30%;
}

.imgDiv {
  display: inline-block;
  margin: 10px;
  position: relative;
}

#goalScore {
  color: white;
  font-size: 20px;
}

#currentScore {
  background-color: green;
  color: #fff;
  font-size: 20px;
  height: 100px;
  width: 200px;
  margin-top: 10px;
}